/*
 * UserAvatar.module.scss
 * author: Evan Kirkiles
 * created on Sun Mar 24 2024
 * 2024 Yale CPSC 419 
 */

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.login {
  block-size: 2.2rem;
  padding-inline: 1rem;
  border: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-inline-end: -0.25em;
  background-color: var(--color-bg);
  animation: fade-up 0.3s ease-in-out;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
  font-size: 0.9em;
}

.avatar {
  block-size: 2.2rem;
  border: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  aspect-ratio: 1;
  background-color: var(--color-bg);
  animation: fade-up 0.3s ease-in-out;
}
