/*
 * Page.module.scss
 * author: Evan Kirkiles
 * created on Sun Mar 10 2024
 * 2024 the nobot space 
 */
@import "@/styles/utils";

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: var(--page-padding);
  max-inline-size: var(--max-total-width);
}

.hero {
  display: grid;
  padding: var(--page-padding);
  padding-block-start: var(--header-height);
  grid-template: "links" 1fr "featured" auto / 1fr;
  min-block-size: 100svh;
  inline-size: 100%;
  gap: 1rem;

  @include media("lg") {
    grid-template: ". featured" 1fr "links featured" auto / 1fr 1fr;
  }
}

.featured {
  grid-area: featured;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;

  & > div {
    background-color: var(--color-fg);
    border: 1px solid var(--color-fg);
    border-radius: 100%;
    aspect-ratio: 1;
    max-block-size: 80svh;
    inline-size: 100%;
  }

  & figcaption {
    line-height: 1;
    font-size: 0.9em;
  }
}

.links {
  grid-area: links;

  & hgroup {
    margin-block-start: 40vh;
    & h1 {
      font-size: 5rem;
      letter-spacing: -0.01em;
      font-weight: 700;
      line-height: 0.9;

      @include media("lg") {
        font-size: 7rem;
      }
    }

    & p {
      font-size: 1.5rem;
    }
  }
}

.linkrow {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  & > li > p {
    font-weight: 700;
  }

  & li {
    margin: 0;
  }
}

.featureSection {
  inline-size: 100%;
  padding: var(--page-padding);
  max-inline-size: var(--max-total-width);

  & > hgroup {
    margin-block-end: 1rem;

    @include media("lg") {
      max-inline-size: 50%;
    }

    & > h2 {
      font-size: 3.5rem;
      letter-spacing: -0.01em;
      font-weight: 700;

      @include media("xs") {
        font-size: 5rem;
      }
    }
  }

  & > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1.5rem;

    @include media("xl") {
      grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    }

    & > li {
      aspect-ratio: 3/2;
      border: 1px solid var(--color-fg);
      background-color: var(--color-fg);
    }
  }
}

.demo {
  border: 1px solid var(--color-fg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  margin-block-end: 1rem;
}
