/*
 * About.module.scss
 * author: Evan Kirkiles
 * created on Sat Apr 06 2024
 * 2024 Yale CPSC 419 
 */

.container {
  padding-block-start: calc(var(--header-height) + var(--page-padding));
  inline-size: calc(100% - 2 * var(--page-padding));
  max-inline-size: var(--max-total-width);
  margin-inline: auto;
  display: grid;

  & ul,
  & ol {
    display: block;
    padding-inline-start: 2rem;
  }

  & li {
    display: list-item;
  }

  & hgroup {
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(1 * var(--page-padding));
    align-items: flex-end;

    & p {
      font-size: 1.2em;
      line-height: 1.2;
      margin-block-end: 2rem;
      max-inline-size: 25ch;

      & a {
        text-underline-offset: 0.15em;
        text-decoration: underline;
      }

      @media screen and (max-width: 1024px) {
        max-inline-size: unset;
      }
    }
  }

  & h1 {
    margin-block-start: -0.2em;
    font-weight: 700;
    font-size: 5.2em;
    line-height: 1.2;
  }

  & h2 {
    margin-block: 0.5em 0.5rem;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1;
  }
}

.body {
  max-inline-size: 80ch;
}

.nextStep {
  padding: 1rem;
  border: 1px solid currentColor;
  display: block;
  margin-block-start: 1rem;
  inline-size: fit-content;
  &::after {
    content: "→";
    margin-inline-start: 0.5rem;
  }
}
